body
{
	max-width: 720px;
	margin: auto;
}
*
{
	font-family: 'Roboto', 'Arial', sans-serif;
}
p
{
	line-height: 1.5em;
}

/*colors
$color-prim: #9356DC;
$color-sec: #FF79DA;
$color-ter: #99E2D0;
*/
/*Header*/
header h1
{
	font-family: 'Shrikhand';
	text-align: center;
}

/*Accueil*/
#accueil__localisation p
{
	text-align: center;
	background-color: #eaeaea;
	border-top: 3px #dcdcdc solid;
	padding: 1em;
}
#accueil__explorer
{
	background-color: #f6f6f6;
	text-align: center;
}
h2
{
	margin-right: 10%;
	margin-left: 10%;
	padding-top: 1em;
	margin-top: -1em;
}
h2 + p
{
	margin-right: 10%;
	margin-left: 10%;
}
.accueil__explorer--btn p
{
	background: rgb(147,86,220);
	background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
	border-width: 60%;
	border-radius: 30px 30px;
	box-shadow: 10px 10px 20px -7px outset rgba(0,0,0,0.30);
	padding: 1em;
	width: 11em;
	margin:auto;
}
a
{
	text-decoration: none;
}
.accueil__explorer--btn
{
	padding: 1em;
}
.accueil__explorer--btn a, footer a
{
	color: white;
}

/*fonctionnement*/
#fonctionnement
{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 10% 3% 10% 3%;
}
#fonctionnement h2
{
	text-align: left;
	margin-left: 3px;
}
.choix
{
	display: flex;
	flex-direction: row;
	cursor: pointer;
	margin: 1em 1em;
}
.choix__fonct:hover
{
	color: #9356DC;
	background-color: #f5edff;
}
.choix p
{
	color: black;
	text-align: center;
	margin: auto;
	margin-left: 0em;
}
.choix i
{
	padding: 4.5%;
	text-align: right;
	margin: auto;
	margin-right: 0em;
}
.choix__num p
{
	color: white;
	text-align: center;
	background-color: #9356DC;	
	border-radius: 50%;
	width: 20px;
	margin:100% 50%;
	padding: 0.4em;
}
.choix__num
{
	z-index: 2;
}
.choix__fonct
{
	display: flex;
	flex-direction: row;
	padding: 3%;
	background-color: #f6f6f6;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 10px 10px 20px -7px rgba(0,0,0,0.20);
	width:80%;
	z-index: 1;
}

/*Restaurants*/
#restaurants
{
	background-color: #f6f6f6;
}
.liste
{
	display: flex;
	flex-direction: column;
	height: 270px;
	margin: 1em;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 10px 10px 20px -7px rgba(0,0,0,0.20);
}
.liste__description
{
	display: flex;
	flex-direction: row;
}
#restaurants h2
{
	text-align: left;
	margin-left: 1em;
}
#restaurants img
{
	width: 100%;
	height: 200px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-size: cover;
}
.nom
{
	margin-left: 5%;
	flex-grow: 1;
}
.coeur
{
	margin-top: 20px;
	text-align: right;
}
.fa-heart
{
	font-size: 1.5em;
}
.coeur .fas
{
	color: #9356DC;
	position: relative;
	top: 0px; left: -24px;
	opacity: 0%;
	cursor: pointer;
}
.coeur .fas:hover
{
	opacity: 100%;
}

/*Footer*/
h5
{
	font-family: 'Shrikhand';
	color: white;
	font-size: 1em;
}
footer
{
	background-color: #353535;
	padding: 1em;
}
footer p
{
	color: white;
}
footer i
{
	font-size: 0.8em;
	margin-right: 1em;
}


/*Pages de menu*/
#palettedugout
{
	background-color: #f6f6f6;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	margin-top: -10em;
}
#palettedugout section
{
	margin-left: 3%;
	margin-right: 3%;
}
#menus
{
	display: flex;
	flex-direction: row;
}
header a
{
	font-size: 1.5em;
	width: 10%;
	margin-top: 1.3em;
	margin-left: 3%;
}
#menus h1
{
	width: 90%;
	margin-left: -7%;
}
aside
{
	height: 20em;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}
#palettepic
{
	background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

/*titre*/
#titre
{
	display: flex;
	flex-direction: row;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}
#titre .coeur
{
	margin: auto;
	font-size: 1em;
}
h3
{
	width: 80%;
	font-family: 'Shrikhand';
	font-size: 1.5em;
}
/*Menus*/
.sst
{
	border-bottom: 2px solid #99E2D0;
}
article
{
	display: flex;
	flex-direction: row;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 10px 10px 20px -7px rgba(0,0,0,0.20);
	background-color: white;
	padding: 0.5em;
	margin-bottom: 1em;
	position: relative;
	top: 100px;
	overflow: hidden;
}
.commander p
{
	background: rgb(147,86,220);
	background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
	border-width: 60%;
	border-radius: 30px 30px;
	box-shadow: 10px 10px 20px -7px outset rgba(0,0,0,0.30);
	padding: 1em;
	width: 6em;
	margin:auto;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}
.commander
{
	background-color: #f6f6f6;
	margin-bottom: -2em;
	padding-bottom: 2em;
}
.plats__choix
{
	flex-grow: 1;
}
.plats__choix p
{
	margin: 0.5em;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.plats__prix 
{
	height: 1em;
}
.plats__prix p
{
	margin-top: 2em;
	margin-left: 60%;
}

 * ----------------------------------------
 * animations
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
             opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
             opacity: 100%;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
             opacity: 100%;
  }
}
.art1
{
	-webkit-animation: slide-top 0.5s both;
	        animation: slide-top 0.5s both;
}
.art2
{
	-webkit-animation: slide-top 0.7s both;
	        animation: slide-top 0.7s both;
}
.art3
{
	-webkit-animation: slide-top 1s both;
	        animation: slide-top 1s both;
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

.fa-check-circle
{
	color: white;
	font-size: 2em;
	cursor: pointer;
	background-color: #99E2D0;
	padding: 1em;
	position: relative;
	top: -85px;
	left: 110px;
}
.fa-check-circle:hover
{   
	-webkit-animation: rotate-center 0.6s ease-in-out reverse both;
	        animation: rotate-center 0.6s ease-in-out reverse both;
}

.plats__prix:hover
{
		-webkit-animation: slide-left 0.5s both;
	        	animation: slide-left 0.5s both;
}
